<!-- BANNER SECTION    -->
<section class="clearfix homeBanner" style="background-image: url(/assets/images/back2.png);" >
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<div class="banerInfo">
					<!-- <h2 style="color: black;">Trouver votre document de révision</h2> -->
					<form class="form-inline" action="listing-sidebar-map-left.html" [formGroup]="reactiveForm"
						style="padding-top: 5%;">
						<div class="form-group">
							<div class="input-group">
                <div class="input-group-addon">Cours</div>
								<mat-form-field class="example-full-width">
									<input matInput placeholder="Cours" [matAutocomplete]="auto"
									(keydown)="searchDocumentName($event)"
									 formControlName='documentName'>
								  </mat-form-field>
								  <mat-autocomplete #auto="matAutocomplete" >
									  <mat-option *ngFor="let document of documentsCours$ | async"
									  [value]="document.documentName">
										<span>{{ document.documentName }}</span>
									  </mat-option>
								  </mat-autocomplete>
							</div>
						</div>
						<div class="form-group">
							<div class="input-group">
                  <div class="input-group-addon">Matière</div>
								<mat-form-field class="example-full-width">
									<input matInput placeholder="Matière" [matAutocomplete]="docMatter"
									(keydown)="searchDocumentMatter($event)"
									 formControlName='documentMatter'>
								  </mat-form-field>
								  <mat-autocomplete #docMatter="matAutocomplete" >
									  <mat-option *ngFor="let document of documentsMatters$ | async"
									  [value]="document.documentMatter">
										<span>{{ document.documentMatter }}</span>
									  </mat-option>
								  </mat-autocomplete>
							</div>
						</div>
						<button type="submit" class="btn btn-primary" (click)="searchDocument(reactiveForm)">Rechercher
							<i class="fa fa-search" aria-hidden="true"></i></button>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
