<!-- LOGIN SECTION -->
<section class="clearfix loginSection">
  <div class="container">
    <div class="row">
      <div class="center-block col-md-5 col-sm-6 col-xs-12">
        <div class="panel panel-default loginPanel">
          <div class="panel-heading text-center">Se connecter</div>
          <div class="panel-body">
              <div class="alert alert-danger" *ngIf="mode==1">
                  <strong>Email ou mot de passe inavlide !!</strong>
              </div>

            <form class="loginForm" #login_form="ngForm" (ngSubmit)="onLogin(login_form.value)">
              <div class="form-group">
                <label for="email">Email *</label>
                <input type="text" class="form-control" name="email" id="email" placeholder="Entrer votre email" [(ngModel)] = "email" >
              </div>
              <div class="form-group">
                <label for="userPassword">Mot de passe *</label>
                <input type="password" class="form-control" name="password" id="userPassword" placeholder="Entrer votre mot de passe" [(ngModel)] = "password" >
              </div>
              <div class="btn-area mt30 text-center">
                  <button class="btn btn-primary" type="submit" >Se connecter</button>
              </div>
            </form>
          </div>
          <div class="panel-footer text-center">
            <p>Vous n'avez pas encore inscrit? <a routerLink="/signup" class="link">S'inscrire</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
