<div class="detailsInfoBox">
  <h3>Commentaires (3)</h3>
  <div class="media media-comment">
    <div class="media-left">
    <img src="assets/images/listing/list-user-1.jpg" class="media-object img-circle" alt="Image User">
    </div>
    <div class="media-body">
      <h4 class="media-heading">Jessica Brown</h4>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudan
      totam rem ape riam,</p>
    </div>
  </div>
  <div class="media media-comment">
    <div class="media-left">
    <img src="assets/images/listing/list-user-2.jpg" class="media-object img-circle" alt="Image User">
    </div>
    <div class="media-body">
      <h4 class="media-heading">Jessica Brown</h4>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudan
      totam rem ape riam,</p>
    </div>
  </div>
  <div class="media media-comment">
    <div class="media-left">
    <img src="assets/images/listing/list-user-3.jpg" class="media-object img-circle" alt="Image User">
    </div>
    <div class="media-body">
      <h4 class="media-heading">Jessica Brown</h4>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudan
      totam rem ape riam,</p>
    </div>
  </div>
</div>
