<!-- Subject List -->
<section class="clearfix interestArea">
    <div class="container">
      <div class="page-header text-center">
        <h2>Matières et disciplines</h2>
      </div>
      <div class="row">
        <div class="col-sm-3 col-xs-12">
          <a href="category-grid-full.html" class="interestContent">
            <span>
              <i class="icon-listy icon-tea-cup-1"></i>
              Physique
            </span>
          </a>
        </div>
        <div class="col-sm-3 col-xs-12">
          <a href="category-list-full.html" class="interestContent">
            <span>
              <i class="icon-listy icon-building"></i>
              Mathématique
            </span>
          </a>
        </div>
        <div class="col-sm-3 col-xs-12">
          <a href="category-grid.html" class="interestContent">
            <span>
              <i class="icon-listy icon-martini"></i>
              Sciences
            </span>
          </a>
        </div>
        <div class="col-sm-3 col-xs-12">
          <a href="category-list-left.html" class="interestContent">
            <span>
              <i class="icon-listy icon-car-1"></i>
              Informatique
            </span>
          </a>
        </div>
        <div class="col-sm-3 col-xs-12">
          <a href="category-grid-right.html" class="interestContent">
            <span>
              <i class="icon-listy icon-castle"></i>
              Gestion
            </span>
          </a>
        </div>
        <div class="col-sm-3 col-xs-12">
          <a href="category-list-right.html" class="interestContent">
            <span>
              <i class="icon-listy icon-television"></i>
              Comptabilité
            </span>
          </a>
        </div>
        <div class="col-sm-3 col-xs-12">
          <a href="category-grid-full.html" class="interestContent">
            <span>
              <i class="icon-listy icon-mall-1"></i>
              Biotechnologie
            </span>
          </a>
        </div>
        <div class="col-sm-3 col-xs-12">
          <a href="all-business.html" class="interestContent">
            <span>
              <i class="icon-listy icon-more"></i>
              Voir tous
            </span>
          </a>
        </div>
      </div>
    </div>
  </section>
