<!-- Why Educshare-->
<section class="clearfix countUpSection">
    <div class="container">
      <div class="page-header text-center">
        <h2>Pourquoi EducShare?</h2>
      </div>
      <div class="row">
        <div class="col-sm-3 col-xs-12">
          <div class="text-center countItem">
            <div class="counter">5200</div>
            <div class="counterInfo bg-color-1">Documents</div>
          </div>
        </div>
        <div class="col-sm-3 col-xs-12">
          <div class="text-center countItem">
            <div class="counter">120</div>
            <div class="counterInfo bg-color-2">Enseignants</div>
          </div>
        </div>
        <div class="col-sm-3 col-xs-12">
          <div class="text-center countItem">
            <div class="counter">3016</div>
            <div class="counterInfo bg-color-3">Etudiants</div>
          </div>
        </div>
        <div class="col-sm-3 col-xs-12">
          <div class="text-center countItem">
            <div class="counter">2000</div>
            <div class="counterInfo bg-color-4">Corrigés</div>
          </div>
        </div>
      </div>
    </div>
  </section>
