<!-- USER PROFILE SECTION -->
<section class="user-profile-section bg-light">
  <h1><div class="text-center">Université</div></h1><br>
    <div class="container" >
      <div class="user-profile">
        <div class="row">
          <div class="col-xs-12 col-sm-8">
            <div class="user-profile-content" *ngIf="university">
              <ul class="user-contact-details">
                <h3 class="user-name">Nom de l'université</h3>
                <li>{{university.universityName}}</li>
              </ul>
              <br>
              <ul class="user-contact-details">
                <h3 class="user-name">Acronyme</h3>
                <li>{{university.universityAcronyme}}</li>
              </ul>
              <br>
              <ul class="user-contact-details">
                <h3 class="user-name">Pays</h3>
                <li>{{university.countryName}}</li>
              </ul>
              <br>

              <ul class="user-contact-details">
                <h3 class="user-name">Date de creation</h3>
                <li>{{university.createdAt | date: 'yyyy/MM/dd hh:mm'}}</li>
              </ul>
              <br>
              <ul class="user-contact-details">
                <h3 class="user-name">Date de modification</h3>
                <li>{{university.updatedAt | date: 'yyyy/MM/dd hh:mm'}}</li>
              </ul>
              <a (click)="goBack()" class="verified-user">Retour</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
